nav ul li a{
    text-decoration: none;
}

nav ul li a:hover{
    background: tomato;
    color: white;
}

@media (min-width:720px){
    nav ul li a:hover{
        background: green;
        color: white;
    }
    section{
        background-color: blue;
    }
    .padre{
        display: block;
    }
    
}